# Wikipedia Web Scraping and Data Cleaning
The following code are scrapes the wikipedia pages to get the movies that are in a film series together. It gathers the film series name, film movie name, year of release, and the wikipedia webpage link for the film.

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import bs4
import requests
import re
import time
from sqlalchemy import create_engine

## Scrape List of Movie Sequels in Wikipedia

In [2]:
wiki_list = ['two', 'three', 'four', 'five']
proxies = {'http' : 'http://206.189.157.23:80',
           'https' : 'https://206.189.157.23:80',}
for count in wiki_list:
    wiki_entry = requests.get('https://en.wikipedia.org/wiki/'
                    'List_of_feature_film_series_with_' + count + '_entries', 
                     proxies = proxies).text
    wiki_entry_soup = bs4.BeautifulSoup(wiki_entry)
    wiki_entry_result = []
    for series_name in wiki_entry_soup.select('.div-col > ul > li'):
        series = series_name.i.text
        for movie_name in series_name.select('ol > li '):
            try:
                year =  re.findall(r'\((\d{4})\)', movie_name.text)[0]              
            except:
                year = ""        
            try:
                html = ("https://en.wikipedia.org" 
                        + str(movie_name.i.a['href']))                   
            except:
                html = ""
            wiki_entry_result.append([series, count + " movies", 
                                      movie_name.i.text, year, html])
    df_wiki_entry = pd.DataFrame(wiki_entry_result, columns=['Movie Series', 
                                          'Movie Count', 'Movie Name', 
                                           'Year', 'Wikipedia Link'])
    df_wiki_entry.to_sql('Wikipedia_Movies', 
                         'sqlite:////mnt/processed/private/msds2021/'
                         'slt10c/Wikipedia_Movies.db', if_exists='append')
    time.sleep(np.random.random())

In [3]:
wiki_entry = requests.get('https://en.wikipedia.org/wiki/List_of_feature'
                          '_film_series_with_six_entries', 
                          proxies = proxies).text
wiki_entry_soup = bs4.BeautifulSoup(wiki_entry)
wiki_entry_result = []
for series_name in wiki_entry_soup.select('td > ul > li'):
    series = series_name.i.text
    for movie_name in series_name.select('ol > li'):
        try:
            year =  re.findall(r'\((\d{4})\)', movie_name.text)[0]              
        except:
            year = ""        
        try:
            html = "https://en.wikipedia.org" + str(movie_name.i.a['href'])                   
        except:
            html = ""
        wiki_entry_result.append([series, "six movies", movie_name.i.text, 
                                  year, html])
df_wiki_entry = pd.DataFrame(wiki_entry_result, columns=['Movie Series', 
                                          'Movie Count', 'Movie Name', 
                                          'Year', 'Wikipedia Link'])
df_wiki_entry.to_sql('Wikipedia_Movies', 
                     'sqlite:////mnt/processed/private/msds2021/slt10c/'
                     'Wikipedia_Movies.db', if_exists='append')
time.sleep(np.random.random())

In [4]:
wiki_list = ['seven', 'eight', 'nine', 'ten']
for count in wiki_list:
    wiki_entry = requests.get('https://en.wikipedia.org/wiki/List_of_'
                          'feature_film_series_with_' + count + '_entries', 
                          proxies = proxies).text
    wiki_entry_soup = bs4.BeautifulSoup(wiki_entry)
    wiki_entry_result = []
    for series_name in wiki_entry_soup.select('.mw-parser-output > ul > li'):
        try:
            series = series_name.i.text
        except:
            series = series_name.i
        for movie_name in series_name.select('ol > li'):
            try:
                year =  re.findall(r'\((\d{4})\)', movie_name.text)[0]              
            except:
                year = ""        
            try:
                html = ("https://en.wikipedia.org" 
                        + str(movie_name.i.a['href']))                   
            except:
                html = ""
            wiki_entry_result.append([series, count + " movies", 
                                      movie_name.i.text, year, html])
    df_wiki_entry = pd.DataFrame(wiki_entry_result, columns=['Movie Series', 
                                     'Movie Count', 'Movie Name', 
                                     'Year', 'Wikipedia Link'])
    df_wiki_entry.to_sql('Wikipedia_Movies', 
                         'sqlite:////mnt/processed/private/msds2021/'
                         'slt10c/Wikipedia_Movies.db', if_exists='append')
    time.sleep(np.random.random())

In [5]:
wiki_entry = requests.get('https://en.wikipedia.org/wiki/List_of_feature'
                          '_film_series_with_11_to_20_entries', 
                          proxies = proxies).text
wiki_entry_soup = bs4.BeautifulSoup(wiki_entry)
wiki_entry_result = []
for series_name in wiki_entry_soup.select('td > ul > li'):
    series = series_name.i.text
    for movie_name in series_name.select('ol > li'):
        try:
            year =  re.findall(r'\((\d{4})\)', movie_name.text)[0]              
        except:
            year = ""        
        try:
            html = "https://en.wikipedia.org" + str(movie_name.i.a['href'])                   
        except:
            html = ""
        wiki_entry_result.append([series, "eleven to twenty movies", 
                                  movie_name.i.text, year, html])
df_wiki_entry = pd.DataFrame(wiki_entry_result, columns=['Movie Series', 
                             'Movie Count', 'Movie Name', 
                             'Year', 'Wikipedia Link'])
df_wiki_entry.to_sql('Wikipedia_Movies', 
                     'sqlite:////mnt/processed/private/msds2021/slt10c/'
                     'Wikipedia_Movies.db', if_exists='append')
time.sleep(np.random.random())

In [6]:
wiki_entry = requests.get('https://en.wikipedia.org/wiki/List_of_feature_'
                          'film_series_with_more_than_twenty_entries', 
                          proxies = proxies).text
wiki_entry_soup = bs4.BeautifulSoup(wiki_entry)
wiki_entry_result = []
for series_name in wiki_entry_soup.select('td > ul > li'):
    try:
        series = series_name.i.text
    except:
        series = series_name.i
    for movie_name in series_name.select('ol > li'):
        try:
            movie = movie_name.i.text              
        except:
            movie = movie_name.i         
        try:
            year =  re.findall(r'\((\d{4})\)', movie_name.text)[0]              
        except:
            year = ""        
        try:
            html = "https://en.wikipedia.org" + str(movie_name.i.a['href'])                   
        except:
            html = ""
        wiki_entry_result.append([series, "twenty plus movies", 
                                  movie, year, html])
df_wiki_entry = pd.DataFrame(wiki_entry_result, columns=['Movie Series', 
                                  'Movie Count', 'Movie Name', 
                                  'Year', 'Wikipedia Link'])
df_wiki_entry.to_sql('Wikipedia_Movies', 
                     'sqlite:////mnt/processed/private/msds2021/slt10c/'
                     'Wikipedia_Movies.db', if_exists='append')
time.sleep(np.random.random())

## Data Cleaning of Movie Sequels SQL Database

In [7]:
def string_replace(string, pattern, replace):
    try:
        return re.sub(pattern, replace, string)
    except:
        return string

In [13]:
conn = sqlite3.connect('/mnt/processed/private/msds2021/slt10c/'
                       'Wikipedia_Movies.db')
conn.execute('SELECT * FROM Wikipedia_Movies')
conn.create_function('REMOVE_STRING', 3, string_replace)

In [14]:
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "\[[\w; ]*\]", "")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "\([\w\W]*\)", "")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Series" = 
                    REMOVE_STRING("Movie Series", "\([\w\W]*\)", "")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Series" = 
                    REMOVE_STRING("Movie Series", "\[[\w; ]*\]", "")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Series" = 
                    REMOVE_STRING("Movie Series", 
                    "Harry Potter and the Philosopher's Stone", 
                    "Wizarding World")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "Hallows –", "Hallows:")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "Hallows -", "Hallows:")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", " – Part", " - Part")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "I – ", "I - ")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "Harry Potter and the Philosopher's Stone", 
                    "Harry Potter and the Sorcerer's Stone")''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "^The Empire Strikes Back$", 
                    "Star Wars: Episode V - The Empire Strikes Back")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "^Return of the Jedi$", 
                    "Star Wars: Episode VI - Return of the Jedi")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "Star Wars: The Force Awakens", 
                    "Star Wars: Episode VII - The Force Awakens")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "Star Wars: The Last Jedi", 
                    "Star Wars: Episode VIII - The Last Jedi")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "Star Wars: The Rise of Skywalker", 
                    "Star Wars: Episode IX - The Rise of Skywalker")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", "^Solo$", 
                    "Solo: A Star Wars Story")  ''')                
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Twilight Saga: Breaking Dawn- Part 1", 
                    "The Twilight Saga: Breaking Dawn - Part 1")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Twilight Saga: Breaking Dawn- Part 2", 
                    "The Twilight Saga: Breaking Dawn - Part 2")  ''')       
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "^Furious 7$", "Fast & Furious 7")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Divergent Series: Insurgent", "Insurgent")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Divergent Series: Allegiant", "Allegiant")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Godfather Part II", "The Godfather: Part II")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "The Godfather Part III", "The Godfather: Part III")  ''')     
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "Ocean's 8", "Ocean's Eight")  ''')
conn.execute('''UPDATE Wikipedia_Movies SET "Movie Name" = 
                    REMOVE_STRING("Movie Name", 
                    "Mission: Impossible 2", "Mission: Impossible II")  ''')
conn.commit()

## Testing of database results

In [18]:
pd.read_sql('''SELECT * FROM Wikipedia_Movies WHERE "Movie Series" 
                LIKE "%Star Trek%"  ''',conn)

,index,Movie Series,Movie Count,Movie Name,Year,Wikipedia Link
0,368,Star Trek,eleven to twenty movies,Star Trek: The Motion Picture,1979,https://en.wikipedia.org/wiki/Star_Trek:_The_M...
1,369,Star Trek,eleven to twenty movies,Star Trek II: The Wrath of Khan,1982,https://en.wikipedia.org/wiki/Star_Trek_II:_Th...
2,370,Star Trek,eleven to twenty movies,Star Trek III: The Search for Spock,1984,https://en.wikipedia.org/wiki/Star_Trek_III:_T...
3,371,Star Trek,eleven to twenty movies,Star Trek IV: The Voyage Home,1986,https://en.wikipedia.org/wiki/Star_Trek_IV:_Th...
4,372,Star Trek,eleven to twenty movies,Star Trek V: The Final Frontier,1989,https://en.wikipedia.org/wiki/Star_Trek_V:_The...
5,373,Star Trek,eleven to twenty movies,Star Trek VI: The Undiscovered Country,1991,https://en.wikipedia.org/wiki/Star_Trek_VI:_Th...
6,374,Star Trek,eleven to twenty movies,Star Trek Generations,1994,https://en.wikipedia.org/wiki/Star_Trek_Genera...
7,375,Star Trek,eleven to twenty movies,Star Trek: First Contact,1996,https://en.wikipedia.org/wiki/Star_Trek:_First...
8,376,Star Trek,eleven to twenty movies,Star Trek: Insurrection,1998,https://en.wikipedia.org/wiki/Star_Trek:_Insur...
9,377,Star Trek,eleven to twenty movies,Star Trek: Nemesis,2002,https://en.wikipedia.org/wiki/Star_Trek:_Nemesis
10,378,Star Trek,eleven to twenty movies,Star Trek,2009,https://en.wikipedia.org/wiki/Star_Trek_(film)
11,379,Star Trek,eleven to twenty movies,Star Trek Into Darkness,2013,https://en.wikipedia.org/wiki/Star_Trek_Into_D...
12,380,Star Trek,eleven to twenty movies,Star Trek Beyond,2016,https://en.wikipedia.org/wiki/Star_Trek_Beyond